[global]
pid = /run/php-fpm.pid
error_log = {{ php_error_log_path }}

[www]
user = www-data
group = www-data
listen = 127.0.0.1:9000
listen.owner = www-data
listen.group = www-data
listen.mode = 0660

pm = dynamic
pm.max_children = {{ max_children }}
pm.start_servers = {{ start_servers }}
pm.min_spare_servers = {{ min_spare_servers }}
pm.max_spare_servers = {{ max_spare_servers }}