server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name {{ server_name }};

    access_log /var/log/nginx/access.log;
    error_log  /var/log/nginx/error.log;

    {% if enable_https %}
    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem;
    if ($scheme = http) {
        return 301 https://$server_name$request_uri;
    }
    {% endif %}

    root /var/www/{{ domain }};
    index index.php index.html;

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    {% if php_socket %}
    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass 127.0.0.1:9000;
        fastcgi_index index.php;
        include fastcgi.conf;
    }
    {% endif %}
}